body {
	margin:20px 40px;
	font-family:times;
	font-size:12pt
}

section#main {
	float:left;
	max-width:40em;
	padding-left:3em
}

h1 {
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

ul {
	list-style: none;
}