body {
	margin:20px 40px;
	font-family:times;
	font-size:12pt
}

#container {
  max-width:60em
}

section#main {
	float:left;
	max-width:30em;
	padding-left:3em
}

h1 {
	font-weight: normal;
}

h3 {
	font-weight: normal;
}